.percentview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border: 1px solid rgb(255, 0, 221);
    border-radius: 5px;
    padding: 2.5em 3em 2.5em 3em;
}
.bar {
    width: 100%;
    height: 20px;
    background-color: rgb(130, 133, 136);
    border: 1px solid black;
}
.percentview p {
    margin: 0;
}